*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  width: 100vw;
  font-family: "Source Code Pro", sans-serif;
}

h1,
h2 {
  margin: 0;
  font-weight: normal;
}

ul,
ol,
li {
  margin: 0;
  list-style: none;
  padding: 0;
}

button,
input {
  font-family: inherit;
  font-size: inherit;
  border: none;
}

button {
  background-color: transparent;
  cursor: pointer;
}

a,
a:active,
a:visited {
  color: inherit;
  text-decoration: none;
}
